@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: "Poppins";
    background: #dde5f4;
    margin: 0em;
    padding: 0em;
}

.header {
    margin: 0 0 0 0;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    background-color: rgba(20, 110, 51, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    color: white;
    letter-spacing: 2px;
}

.pageContent {
    //filter: blur(4px);
    margin: 1em;

    display: inline;
    text-align: center;
    justify-content: center;

    .top {
        font-size: 1em;

        .return {
            text-decoration: none;
            color: black;
        }

        .spotify-view-button {
            border: none;
            font-family: "Poppins";
            font-size: 1em;
            padding: 0.6em 6em 0.6em 6em;
            background-color: rgb(26, 141, 66);
            border-radius: 9px;
            cursor: pointer;
            color: white;
            margin-bottom: 1em;

            span {
                font-weight: bold;
            }
        }

        .spotify-view-button:hover {
            background-color: rgb(20, 110, 52);
        }

        .share-button {
            border: none;
            font-family: "Poppins";
            font-size: 1em;
            padding: 0.6em 6em 0.6em 6em;
            background-color: white;
            border-radius: 9px;
            cursor: pointer;
            color: rgb(0, 0, 0);

            span {
                font-weight: bold;
            }
        }

        .share-button:hover {
            background-color: rgb(233, 233, 233);
        }

        h2 {
            font-weight: bold;
            margin: 0;
        }

        span {
            font-weight: bold;
        }
    }
}

.centerContent {
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
    text-align: center;
    align-items: center;
    align-content: center;
}

.artistImage {
    border-radius: 9px;
    width: 128px;
    height: 128px;
}

hr {
    width: 20%;
    color: #ffffff;
}

.errorNotification {
    filter: blur(0px);
    width: 100%;

    text-align: center;
    background-color: #D22B2B;
    padding: 1em;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }
}

.listeningNotification {
    padding: 0.5em 0em 0em 0em;
    //background-color: #1DB954;
    background: rgb(20, 110, 51);
    background: linear-gradient(180deg, rgba(20, 110, 51, 1) 0%, rgba(22, 129, 59, 1) 49%, rgb(26, 167, 75) 100%);
    backdrop-filter: blur(4px);
    //margin: 0 auto;

    width: 100%;
    justify-content: center;

    color: #f1f1f1;

    .top {
        text-align: left;
        justify-content: center;

        display: flex;
        align-items: center;

        .text {
            .songName {
                font-weight: bold;
            }

            .songAuthor {
                font-size: 14px;
            }
        }
    }

    .bottom {
        margin: 0.5em 0 0.5em 0;
        padding: 0.2em;
        padding-bottom: 1em;
        text-align: left;
        justify-content: center;

        display: flex;
        align-items: center;

        //background-color: #16813b;

        text-align: center;

        i {
            margin-right: 0.2em;
        }

        .deviceName {
            //font-weight: bold;
            margin-left: 0.2em;
            font-size: 14px;

            background-color: #146e33;
            border-radius: 10px;
            padding: 4px;
        }
    }

    .song-image {
        margin: 0 1em 0 0;
        width: 54px;
        height: 54px;
    }

    img {
        border-radius: 6px;
    }
}

/*
TO-DO:
- Centralizar elemento imageContainer de forma decente kk

*/

#imageGenerated {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 25px auto;

    width: fit-content;
}

.imgContent {
    padding: 2em;
    background: rgb(20, 110, 51);
    background: linear-gradient(145deg, rgba(20, 110, 51, 1) 0%, rgba(22, 129, 59, 1) 49%, rgba(29, 185, 84, 1) 100%);
}

.imageContainer {
    text-align: center;

    //background: rgb(20, 110, 51);
    //background: linear-gradient(145deg, rgba(20, 110, 51, 1) 0%, rgba(22, 129, 59, 1) 49%, rgba(29, 185, 84, 1) 100%);
    //margin-left: 25%;
    //border-radius: 8px;
    margin: 0 auto;
    //padding: 2em;

    //width: 1080px;
    //height: 1920px;
    zoom: 125%;

    color: white;

    /*
    tr:last-child {
        border-bottom: 1px solid #dadada;
    }
    */


}

.artistName {
    text-align: center;
    font-weight: bold;
}

tr {
    text-align: center;
}

td {
    text-align: center;
    //border-top: 1px solid #dadada;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    
    margin-left: 2em;
    margin-right: 2em;

    img {
        width: 54px;
        height: 54px;
        border-radius: 9px;
    }
}

.artistsList {
    margin: 0 auto;
    width: 500px;
    border-collapse: collapse;
}

.userName {
    font-weight: bold;
}

.listifyInfo,
.listifyUrl {
    color: rgb(240, 240, 240);
}

.mostListenedImage {
    border-radius: 9px;
    width: 128px;
    height: 128px;
}

.bold {
    font-weight: bold;
}

.customSelect {
    justify-content: center;

    display: inline;
    text-align: center;
    justify-content: center;

    .selected {
        background-color: rgba(13, 75, 35, 0.5);
        border-radius: 10px;
    }

    ul {
        background-color: rgba(20, 110, 51, 1);
        color: white;
        border-radius: 10px;

        display: table;
        margin: 1em auto;

        padding: 0.5em 0 0.5em 0;
        width: fit-content;
        list-style: none;

        li {
            cursor: pointer;
            margin: 1em;
            padding: 0.3em;
            display: inline;

            a {
                text-decoration: none;
                color: white;
            }
        }

        li:hover {
            background-color: rgba(13, 75, 35, 0.5);
            border-radius: 10px;
        }
    }
}

.greenGradient {
    background: rgb(20, 110, 51);
    background: linear-gradient(145deg, rgba(20, 110, 51, 1) 0%, rgba(22, 129, 59, 1) 49%, rgba(29, 185, 84, 1) 100%);
}

.vanusaGradient {
    background: rgb(137, 33, 107);
    background: linear-gradient(145deg, rgba(137, 33, 107, 1) 0%, rgba(218, 68, 83, 1) 100%);
}

.shiftyGradient {
    background: rgb(162, 171, 88);
    background: linear-gradient(145deg, rgba(162, 171, 88, 1) 0%, rgba(99, 99, 99, 1) 100%);
}

.summerGradient {
    background: rgb(255, 0, 14);
    background: linear-gradient(145deg, rgba(255, 0, 14, 1) 0%, rgba(115, 208, 91, 1) 100%);
}

.share-button {
    margin-top: 1em;
    margin-bottom: 2em;
    border: none;
    font-family: "Poppins";
    font-size: 1em;
    padding: 0.6em 6em 0.6em 6em;
    background-color: white;
    border-radius: 9px;
    cursor: pointer;
    color: rgb(0, 0, 0);

    span {
        font-weight: bold;
    }
}

.share-button:hover {
    background-color: rgb(233, 233, 233);
}

.bold {
    font-weight: bold;
}

.changeNameInput {
    animation: shadow-drop-2-center-reverse 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 2em;
    border: none;
    font-family: "Poppins";
    font-size: 1em;
    padding: 0.6em 3em 0.6em 3em;
    background-color: white;
    border-radius: 9px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    outline: none;
}

.changeNameInput:hover {
    animation: input-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.changeNameInput:focus {
    outline: 1px solid rgba(35, 43, 43, 0.541);
    animation: input-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.footer {
    font-weight: bold;
    text-align: center;
    color: #9398a1;
    margin-bottom: 2em;

    a {
        color: #9398a1;
        text-decoration: none;
        margin-right: 1em;
        vertical-align: middle;

        animation: clarify-reverse 0.4s ease-in-out 0s 1 normal forwards;
    }

    a:hover {
        animation: clarify 0.4s ease-in-out 0s 1 normal forwards;
    }

    .footer-clarify {
        font-size: 1em;
        animation: clarify-reverse 0.6s ease-in-out 0s 1 normal forwards;
    }

    .footer-clarify:hover {
        font-size: 1em;
        animation: clarify 0.6s ease-in-out 0s 1 normal forwards;
    }
}

@keyframes clarify {
    0% {
        font-size: 1em;
        color: #9398a1;
    }

    100% {
        font-size: 1.05em;
        color: #2b2b2b;
    }
}

@keyframes clarify-reverse {
    0% {
        font-size: 1.05em;
        color: #2b2b2b;
    }

    100% {
        font-size: 1em;
        color: #9398a1;
    }
}

@keyframes fadeIn {
    0% {
        filter: blur(2px);
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shadow-drop-2-center {
    0% {
        letter-spacing: 1px;
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }

    100% {
        letter-spacing: 1.5px;
        transform: translateZ(30px);
        box-shadow: 0 0 20px 0px rgba(102, 102, 102, 0.35);
    }
}

@keyframes shadow-drop-2-center-reverse {
    0% {
        letter-spacing: 1.5px;
        transform: translateZ(30px);
        box-shadow: 0 0 20px 0px rgba(102, 102, 102, 0.35);
    }

    100% {
        letter-spacing: 1px;
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes input-in {
    0% {
      letter-spacing: 1px;
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
    100% {
      letter-spacing: 1.5px;
      transform: translateZ(30px);
      box-shadow: 0 0 20px 0px rgba(102, 102, 102, 0.35);
    }
  }